elpa
.Rhistory
*~
\#*\#
ac-comphist.dat
projectile.cache
abbrev_defs
/tramp
/bookmarks
/recentf
/projectile-bookmarks.eld
eshell/*
flycheck_init.el
magithub/*
/custom.el
/quelpa/*
/network-security.data
/emojis/*
/lisp/init-slack.el
/url/*
/request
/undo
/persp-confs

configuration.el
configuration.elc
init.elc
abbrev_defs
